{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}

	{% include "navbar.html.twig" %}
	<body class="body-movies">

		<h1 id="home-title">Choisissez votre style de film ou les séries</h1>
	</body>
	{% include 'carrousel.html.twig' %}


{% endblock %}
