{% extends 'base.html.twig' %}
{% block body %}

	<body class="body-movies">

		<h1 class="title-show">
			Top 100 des meilleures séries IMDB</h1>

		<div class="row">
			{% for serie in series.items %}

				<div class="card col-2">
					<p class="card-title">{{ serie.title }}</p>
					<div class="card-image"><img src="{{ serie.image }}"></div>
					<div class="circle">
						<span class="rating">{{ serie.imDbRating }}</span>
					</div>

				</div>

			{% endfor %}
		</div>
	</body>
{% endblock %}
