{% extends 'base.html.twig' %}

{% block title %}
	WhatToWatch
{% endblock %}

{% block body %}
	<body class="home">

		<div class="container-fluid">
			<h1 class="title">
				{{ title }}</h1>
		</div>
		<div class="block">
			<p class="p-index">Bienvenue sur What To Watch
		</br>
		Ici vous trouverez des listes de films et de séries que nous selectionnons pour vous
		</p>
		</div>
		<a class="btn" id="button" href="{{ path("home")}}">
		<span class="text-button">Entrer</span></a>
	</body>
{% endblock %}
