{% extends 'base.html.twig' %}

{% block title %}
	WhatToWatch
{% endblock %}

{% block body %}
	<body class="home">

		<div class="container-fluid">
			<h1 class="title">
				{{ title }}</h1>
		</div>
		<div class="block">
			<p class="p-index">Bienvenue sur What To Watch
		</br>
			Ici vous trouverez les liste des 50 des meilleurs films et séries selon IMDB</p>
		</div>
		<a class="btn" id="button" href="{{ path("home")}}">
			<span class="text-button">GO !</span></a>
	</body>
{% endblock %}
