@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous&display=swap');

$vollkorn:'Vollkorn';
$righteous:'Righteous';
$jaffa: #f27935;
$outer-space:#2e3131;
$java: #23cba7;
$mystic: #e8ecf1;
$base-font-size: 14px;

@function trim-unit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem-calc($value){
    @return $value / trim-unit($base-font-size) * 1rem;
}