@import url('https://fonts.googleapis.com/css?family=Open+Sans|Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous&display=swap');

$vollkorn:'Vollkorn';
$righteous:'Righteous';
$jaffa: #f27935;
$outer-space:#2e3131;
$java: #23cba7;