@import "vars";

.body-home {
    background-color: $outer-space;
}

#home-title {
    text-align: center;
    color: $jaffa;
    font-family: $righteous;
    font-weight: bold;
    font-size: 3em;
    text-decoration: underline overline $java;
    margin-top: rem-calc(25);
    margin-bottom: rem-calc(20);
}

// carousel
#demo {
    margin-left: auto;
    margin-right: auto;
    width: rem-calc(1100);
    height: rem-calc(500);
    border: solid 5px $mystic;

    .carousel-inner {
        width: 100%;
        height: 100%;

        .carousel-item {
            width: 100%;
            height: 100%;
        }
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
    }
}

.carousel-caption {
    position: absolute;
    background: rgba($mystic, 0.5);
    text-align: center;


}

.carousel-caption h3 a {
    color: $outer-space;
    font-size: rem-calc(50);
    text-decoration: underline;
}

.carousel-caption p {
    color: $java;
    background: rgba($outer-space, 0.7);
    font-size: rem-calc(30);
}