@import "vars";

.body-home {
  background-image: url("../img/cine-room.jpeg");
  background-color: transparent;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-title {
  text-align: center;
  color: $jaffa;
  font-family: $righteous;
  font-weight: bold;
  font-size: 3em;
  text-decoration: underline overline $java;
  margin-top: rem-calc(25);
  margin-bottom: rem-calc(20);
}

// carousel
#demo {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: rem-calc(1100);
  height: rem-calc(500);
  border-radius: 8px;
  align-items: center;
  text-align: center;
  width: 70em;
  border-radius: 8px;
  box-shadow: 1px 1px 50px rgba($mystic, 0.5);

  .carousel-inner {
    width: 100%;
    height: 100%;

    .carousel-item {
      width: 100%;
      height: 100%;
    }
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
  }
}

.carousel-caption {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background: rgba($mystic, 0.5);
  text-align: center;
  width: 40em;
  border-radius: 8px;

}

.carousel-caption h3 a {
  color: $jaffa;
  font-size: rem-calc(50);
  text-decoration: underline 5px rgba($outer-space, 1);
}

.carousel-caption p {
  color: $java;
  background: rgba($outer-space, 0.7);
  font-size: rem-calc(30);
}

.img-car {
  border-radius: 8px;
}
