@import '~bootstrap/scss/bootstrap';
@import "vars";

.body-movies {
    margin-left: 2em;
}

.title-show {
    margin: 2%;
    color: $jaffa;
    font-family: $righteous;
    font-weight: bold;
    font-size: 5em;
    text-decoration: underline overline $java;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card {
    display: block;
    width: 210px;
    border: 1px solid black;
    overflow: hidden;
    margin: 20px 20px 20px auto;
    border-radius: 10px;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline $jaffa;
    color: $java;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-image {
    height: 340px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card:hover .card-image img {
    width: 120%;
    filter: grayscale(1);
}

.card-image img {
    width: 105%;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(0);
    transition-property: filter width;
    transition-duration: .3s;
    transition-timing-function: ease;
    margin-bottom: 20px;
    z-index: 1;
}

.circle {
    position: absolute;
    text-align: center;
    top: 7%;
    left: 3%;
    width: 40px;
    height: 40px;
    color: whitesmoke;
    background-color: $outer-space;
    border: solid 1px balck;
    border-radius: 100%;
    z-index: 7;
}

.rating {
    padding-top: 25%;
    font-weight: bold;
    vertical-align: middle;
}