@import "vars";

.navbar {
    background-color: $jaffa;
}

.navbar-default .navbar-brand {
    font-family: $righteous;
    font-weight: bold;
    color: $java;
}

.navbar-nav .nav-item .nav-link {
    color: $java;
    font-family: $vollkorn;
    font-weight: bold;
}

#menu {
    background-color: rgba($outer-space, 0.3);
}

#item {
    color: $jaffa;
}

#item:hover {
    background-color: rgba($mystic, 0.5);
    color: $java;
}