@import "vars";

body {
    background-color: $jaffa;
}

h1,
h2,
h3,
h4 {
    font-family: $righteous;
    font-weight: bold;
}

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/admission-2974645_1920.jpg');
    background-color: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.title {
    margin: 2%;
    color: $jaffa;
    font-family: $righteous;
    font-weight: bold;
    font-size: 5em;
    text-decoration: underline overline $java;
}

p {
    font-family: $vollkorn;
    font-weight: bold;
}

.p-index {
    margin: 1em;
    font-family: $vollkorn;
    font-size: 3em;
    font-weight: bold;
    color: $java;
    text-align: center;
    text-decoration: underline $jaffa;
}

.block {
    background-color: rgba($outer-space, 1);
    margin-top: 10em;
    width: 100%;
    height: 20em;
    opacity: 0.7;
    align-items: center;
    vertical-align: middle;
    line-height: 10em; 
    white-space: nowrap;
}

#button {
    text-align: center;
    align-items: center;
    color: $java;
    font-weight: bold;
    font-family: $vollkorn;
    font-size: 20px;
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: $jaffa;
    padding: 1em;
    width: 10em;
}

#button:hover {
    color: $jaffa;
    background-color: $java;
    font-weight: bold;
    font-family: $vollkorn;
    font-size: 20px;
}

.text-button {
    margin-left: auto;
    margin-right: auto;
}