{% extends 'base.html.twig' %}
{% block body %}

{% include "navbar.html.twig" %}

<body class="container">
<img src="build/images/error-404.339fb992.jpg" alt="erreur">
    {{ erreur }}
</body>    
{% endblock %}